extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Gestão de Obras
            .w3-container  
            ul.w3-ul
                li
                    a(href='/obras') Lista de Obras
                li
                    a(href='/compositores') Lista de Compositores

            footer.w3-container.w3-black
                address Gerado por Gestão de Obras App