doctype html
html
  head
    title Gestão de Obras (DAW - TPC7)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/axios.min.js')
    script(src='/javascripts/scripts.js')
  body
    block content
