extends layout

block content
    .w3-container
        .w3-card-4        
            header.w3-container.w3-teal
                h3 Filme Individual
            .w3-container
                table.w3-table-all
                    tr
                        th Título
                        th Ano
                    tr
                        td= filme.title
                        td= filme.year
                header.w3-container.w3-teal
                  h4 Elenco
                table.w3-table-all
                    tr
                        th Nome
                    each c in filme.cast
                        td= c
                    else
                        td Filme sem elenco...
                header.w3-container.w3-teal
                  h4 Género
                table.w3-table-all
                    tr
                        th Tipo
                    each g in filme.genres
                        td= g
                    else
                        td Filme sem géneros...

            footer.w3-container.w3-teal 
                address Gerado por Gestão de Filmes App:
                    a(href='/filmes') Voltar à lista de filmes