extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 CLAV: Classificação e Avaliação da Informação Pública
            .w3-container  
            ul.w3-ul
                li
                    a(href='/tipologias') Lista de Tipologias
                li
                    a(href='/entidades') Lista de Entidades

            footer.w3-container.w3-black
                address Gerado por CLAV: Classificação e Avaliação da Informação Pública
