doctype html
html
  head
    title CLAV: Classificação e Avaliação da Informação Pública
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/axios.min.js')
  body
    block content
